{% extends 'veece/base.html' %}
{% load static %}

{% block content %}

<!--Privacy Policy section STARTS-->

<div class="container" id="privacyPolicyHeader">
    <div class="row">
        <div class="col-12 text-center">
            <h4>Veece</h4>
            <p>Read our Privacy Policy documentation</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12" id="scrollContainer">
            <h5>Privacy Policy</h5>

            <h6>1. About Us</h6>

            <p>1. Veece Ltd (“Veece”) provides various payment options for individuals and merchants. Our objective is providing a convenient and innovative service allowing our customer to save time and money via automated and innovative payment systems which are more convenient and effective.</p>

            <p>2. Veece is regulated by the Nigerian “Nigerian financial service” Financial Services Regulatory Authority and holds a permission to provide Money Services.</p>

            <p>3. (Any undefined capitalised terms herein shall have the same meaning as ascribed to them in the Veece Customer Terms of Use)</p>

            <h6>2. What information do we record?</h6>

            <p>4. We process, inter alia, the following personal data:</p>

            <ul>
                <li>Personal information, such as name, Bank Verification Number (BVN), citizenship, bio-metric data;</li>
                <li>Contact information e.g. e-mail address, telephone numbers, IP address;</li>
                <li>Payment data, such as the account number, our unique transaction code, transaction information, card information, etc.; and</li>
                <li>Bank information, such as bank account number, name of bank, purpose of transaction.</li>
            </ul>

            <p>5. Veece obtains information about you via our App, Website, or direct contact e.g. when you register on the App and provide identification data like bio-metric data, name, address, telephone number, mobile number, email address and place of residence.</p>

            <p>6. We also record details about your Veece accounts and transactions with us and usage of your device for Veece services as well as additional information provided: (a) via communications with you; and (b) through social networks or online accounts and internet cookie information.</p>

            <p>7. Veece may also obtain information about you from other sources such as credit checking bureaus, identity verification services, or government authorities.</p>

            <p>8. As a processor, we obtain personal data from contractual partners. As a controller, we receive personal data directly from the data subject (“you” or “your”). The controller establishes the purposes and means of processing personal data. As a processor, we process personal data according to the written instructions of a controller.
            </p>

            <h6>3. Legal basis for processing</h6>

            <p><b>9. Performance of agreements:</b> The main purpose of Pyypl processing your personal data is to document, execute, and perform our contractual obligation to provide you with our services (e.g. to execute national and international transactions via credit institutions and payment systems).</p>

            <p><b>10. Legal obligations:</b> In order for Veece to be able to comply with its legal obligations, we process personal data in accordance with applicable laws (including data protection regulations) (e.g. to prevent, discover, investigate, and report potential money laundering or terrorist financing).</p>

            <p><b>11. Legitimate interest:</b> Veece processes your personal data for it's legitimate interests. We have considered this processing to be necessary for the purposes of the legitimate interests pursued by Veece, which we have considered to not override your fundamental rights or freedoms associated with your personal data (e.g. to develop, examine and improve our business and services and you user experience by participating surveys, analyses, or statistics).</p>

            <p><b>12. Consent:</b> Veece will in some cases ask for your consent to process personal data. Before giving consent, you will be presented with information on the intended processing. Consent can always be withdrawn, and you will be informed of any consequences of such withdrawal.</p>

            <h6>4. What do we do with your information?</h6>

            <p>13. We routinely use your personal information to help us manage and improve our services and your account usage including, for example, to:</p>

            <ul>
                <li>enable/route transactions with third-parties such as financial institutions, correspondents, payment intermediaries, card schemes, or other commercial partners ('Partners');</li>

                <li>provide you with customer support and troubleshoot problems;</li>

                <li>notify you about service updates and faults;</li>

                <li>request feedback or participation in online surveys;</li>

                <li>verify your identity;</li>

                <li>monitor and improve our applications, products and websites;</li>

                <li>investigate suspicious transactions (flagged internally or by one of our Partners);</li>

                <li>resolve disputes with respect to payments involving our Partners;</li>

                <li>protect your privacy and prevent fraud, money laundering and tax evasion; or</li>

                <li>invoice you or notify you of the status of any service or product orders.</li>
            </ul>

            <p>14. With your permission, we also use your information to market and communicate our products and services and promotional offers, contests and similar events, as well as those of approved partners. You can always stop receiving these if you want to, by email and via the app.</p>

            <p>15. Veece may use analytics partners such as Google Analytics to track volume of usage on internet sites and to help improve the relevance and features of our services to you.</p>

            <p>16. Your personal information may, from time to time, be used to meet our regulatory obligations and those of our Partners (as mandated under applicable jurisdictions). The collection, use and processing of such information may occur for purposes of, including, but not limited to, AML/KYC requirements at the time of onboarding, ongoing monitoring, and for reporting to authorities.</p> 

            <p>17. We may also process personal data for other purposes. We will attempt to ensure that you are notified of the purposes of processing at the time of obtaining the personal data. If this is not possible or reasonable, then we will attempt to notify you at the first opportunity after obtaining or otherwise processing the personal data.</p>

            <h6>5. Disclosure of personal information</h6>

            <p>18. Please keep in mind that due to legal requirements, we may be obligated to disclose or allow access to your personal data for official and supervisory institutions.</p>

            <p>19. We may disclose your personal data to persons in the same group of companies as Veece, to our processors, as well as persons who are legally entitled to receive such personal data.</p>

            <p>20. If we conclude a contract with a processor for processing personal data then we ensure the presence of suitable contractual measures to protect personal data.</p>

            <h6>6. Veece Cookies</h6>

            <p>21. By using the App and/or Website you are giving your consent to the use of cookies. You can choose to reject cookies at any time or by ceasing to use the App and/or Website or by using the applicable opt-out functions. You should be aware that certain features of Veece's services are only available through the use of cookies and will no longer be available if you choose not to accept cookies. For more information on the use of cookies, please refer to the Veece Cookie Policy available at www.veece.com/cookie-policy.</p>

            <h6>7. Contacting you</h6>

            <p>22. Veece may from time to time ask you to voluntarily provide information on your experiences which will be used to measure and improve the quality of the App, products and Website. At the time, we will make it clear that you are not obliged to participate in such surveys.</p>

            <p>23. Veece may also contact you about faults and service issues or any misuse or claims of violation raised by any third-party.</p>

            <p>24. Veece may also keep you up to date with news about the Veece products that you have purchased and/or to inform you about other Veece products or other Veece related information. You can opt-out of the receipt of alerts and/or promotional emails.</p>

            <h6>8. Retention of personal data</h6>

            <p>25. Veece will retain your personal data for as long as is necessary to comply with applicable laws, regulations, and relevant orders from government authorities.</p>

            <p>26. If requested, Veece will do its best to delete obsolete personal data unless it is required to be retained by law or for lawful business purposes.</p>

            <h6>9. Privacy Policy updates</h6>

            <p>27. Veece may occasionally update this Privacy Policy to reflect: (a) changes in our software and/or products; (b) customer feedback; or (c) legal requirements. The “last revised” version is the one accessible on our App and Website.</p>

            <p>28. We will notify you of any material changes to the Privacy Policy.</p>

            <p>29. We encourage you to periodically review this Privacy Policy to be informed of how Veece is collecting, using, and protecting your information.</p>

            <h6>10. Your rights regarding personal data.</h6>

            <p>30. You have the following rights regarding your personal data:</p>

            <ul>
                <li><b>The right to review personal data -</b> You have the right to know which personal data of yours we store and how we process it, including the right to know the purpose of processing, persons to whom personal data is disclosed, information on making automated decisions and the right to request copies of personal data.</li>

                <li><b>The right to amend personal data -</b> You have the right to request that insufficient, incomplete and untrue personal data be amended. Your user profile is the information provided by you at registration which is on the personal details page in your account. You can access and update your user profile from the App or Website.</li>

                <li><b>The right to withdraw consent to process personal data -</b> You have the right to know which personal data of yours we store and how we process it, including the right to know the purpose of processing, persons to whom personal data is disclosed, information on making automated decisions and the right to request copies of personal data.</li>

                <li><b>The right to deletion of personal data -</b> You have the right to request that we delete your personal data (e.g., if you withdraw consent to processing of personal data or if personal data is no longer needed for the purpose for which it was collected). We have the right to refuse to delete personal data if processing of personal data is necessary to perform our legal obligations, exercise the right to freedom of speech and information, prepare, submit and defend legal claims, or in the public interest.</li>

                <li><b>The right to restrict processing -</b> In certain cases, you have the right to prohibit or restrict the processing of your personal data for a certain period of time (e.g., if you have objected to data processing).</li>

                <li><b>The right to object -</b> You have the right to object to the processing of your personal data if the processing of your data is carried out based on our justified interest or public interest. Processing of data for the purpose of direct marketing may be objected to at any time and we will address the same upon your objection.</li>

                <li><b>The right to transfer of data -</b> If the processing of your personal data is based on your consent and personal data are processed automatically, then you have the right to obtain personal data concerning you, which you have submitted to us as controller, in a structured, generally used format and machine-readable form, and you have the right to forward personal data to another controller. You also have the right to request that we forward personal data directly to another controller if this is technically viable.</li>

                <li><b>Making automated decisions (including profile analysis) -</b> If we have informed you that we carry out decisions based on automated processing (including profile analysis) which results in legal consequences that concern you or has a significant impact on you, then you may request that an automatic decision not be made based on automated processing alone.</li>
            </ul>

            <h6>11. Our Contacts</h6>

            <p>31. The contact information of Veece is available at our website <a href="https://www.veece.xyz" target="_blank">www.veece.xyz</a></p>

        </div>
    </div>
</div>

<!--Privacy Policy section ENDS-->

{% endblock %}